@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translate(-50%, 20%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -20%); } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 50%; }
  @media (min-width: 36em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 48em) {
    html {
      font-size: 62.5%; } }

body {
  box-sizing: border-box; }

#app-main {
  position: relative;
  min-height: 100vh;
  background-color: #f7f7f7; }
  @media (min-width: 62em) {
    #app-main {
      padding-top: 8rem; } }

::selection {
  background-color: #fef0e3; }

body {
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #777;
  font-size: 1.6rem; }

a, a:link, a:visited, a:active {
  color: #f6891f;
  text-decoration: none;
  font-size: 1.6rem; }

a:hover {
  color: #d97009; }

.heading-primary {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
  line-height: 1.2;
  padding: 1rem 2rem; }
  @media (min-width: 48em) {
    .heading-primary {
      font-size: 4rem; } }
  .heading-primary--auth {
    color: #3D3D3D;
    text-align: center; }
    @media (min-width: 62em) {
      .heading-primary--auth {
        color: #fff; } }

.heading-secondary {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1rem 2rem;
  color: #3D3D3D; }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1rem 2rem;
  color: #3D3D3D; }

.text-primary {
  color: #f6891f !important; }

.auth {
  width: 100%;
  background: #fff; }
  @media (min-width: 36em) {
    .auth {
      width: 40rem; } }
  @media (min-width: 48em) {
    .auth {
      width: 40rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-radius: .5rem; } }
  .auth-header {
    text-align: center;
    padding: 2rem; }
    .auth-header--img {
      height: 5rem; }
      @media (min-width: 36em) {
        .auth-header--img {
          height: 4.5rem; } }
      @media (min-width: 48em) {
        .auth-header--img {
          height: 4rem; } }
  .auth-form {
    padding: .5rem 3rem; }
  .auth-forgot-password {
    display: block;
    text-align: center;
    margin: 3rem 0; }
    .auth-forgot-password, .auth-forgot-password:link, .auth-forgot-password:visited, .auth-forgot-password:active {
      font-size: 2.2rem;
      color: #3D3D3D; }
      @media (min-width: 48em) {
        .auth-forgot-password, .auth-forgot-password:link, .auth-forgot-password:visited, .auth-forgot-password:active {
          font-size: 1.6rem; } }
  .auth-type {
    text-align: center;
    font-size: 2.2rem;
    padding: 0 3rem;
    font-weight: 400;
    color: #3D3D3D; }
    @media (min-width: 48em) {
      .auth-type {
        font-size: 1.6rem; } }
    .auth-type--link, .auth-type--link:link, .auth-type--link:visited, .auth-type--link:active {
      font-size: 2.2rem; }
      @media (min-width: 48em) {
        .auth-type--link, .auth-type--link:link, .auth-type--link:visited, .auth-type--link:active {
          font-size: 1.6rem; } }

.card {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .card-aside {
    width: 100%; }
  .card-header {
    background-color: transparent; }

.comment-sec {
  padding: 1rem 2rem;
  padding-bottom: 6rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative; }
  .comment-sec-comment {
    font-size: 1.4rem; }
  .comment-sec-list {
    margin-bottom: 1rem; }
  .comment-sec-field {
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 0;
    width: 100%; }
  .comment-sec-form {
    display: flex;
    justify-content: space-around; }
  .comment-sec-text {
    width: 90%;
    border: none;
    padding: 0 2rem;
    resize: none; }
    .comment-sec-text:focus {
      border: none;
      outline: none; }
  .comment-sec-send {
    border: none;
    background-color: transparent;
    cursor: pointer; }
    .comment-sec-send:foucs {
      outline: none; }

.compose-toggle {
  width: 7rem;
  height: 7rem;
  background-color: #f6891f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 7%;
  bottom: 10%;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 3;
  transition: all .3s;
  backface-visibility: hidden;
  cursor: pointer; }
  @media (min-width: 48em) {
    .compose-toggle {
      width: 6rem;
      height: 6rem;
      right: 10vh; } }
  .compose-toggle:hover {
    transform: scale(1.03) rotate(360deg); }
  .compose-toggle:focus {
    outline: none; }

.compose-btn {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1; }

.compose-upload {
  opacity: 0;
  visibility: hidden; }

.compose textarea.compose-text-area {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 2.2rem; }

.compose .modal {
  background-color: #fff; }
  @media (min-width: 36em) {
    .compose .modal {
      background-color: transparent; } }
  .compose .modal-dialog {
    margin: 0; }
    @media (min-width: 36em) {
      .compose .modal-dialog {
        margin: 1.75rem auto; } }
    @media (min-width: 48em) {
      .compose .modal-dialog {
        max-width: 60rem; } }
  .compose .modal-content {
    border: none; }
  .compose .modal-body {
    margin-top: 4rem; }
    @media (min-width: 36em) {
      .compose .modal-body {
        margin-top: 1rem; } }
  .compose .modal-footer {
    border: none; }
    @media (min-width: 36em) {
      .compose .modal-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.1); } }

.form {
  padding: 2rem;
  font-size: 1.6rem; }
  .form-control {
    color: #3D3D3D;
    padding: .5rem 2rem;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.41); }
    .form-control:focus {
      outline: none;
      border-color: #f6891f;
      box-shadow: none; }
    .form-control::-webkit-input-placeholder {
      color: #3D3D3D; }
  .form-control.form-control--auth {
    color: #000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.41);
    border-radius: 0;
    padding-left: .5rem;
    font-size: 2.3rem;
    font-weight: 300;
    margin-top: 1rem; }
    @media (min-width: 48em) {
      .form-control.form-control--auth {
        font-size: 1.8rem;
        margin-top: 0; } }
    .form-control.form-control--auth:focus {
      border-bottom: 1px solid #f6891f; }
    .form-control.form-control--auth::-webkit-input-placeholder {
      color: #000; }
  .form-label {
    display: block;
    color: #000;
    padding-left: .5rem;
    font-size: 1.8rem;
    font-weight: 300;
    transition: all .3s;
    transform: translateY(-6rem); }
    @media (min-width: 48em) {
      .form-label {
        font-size: 1.4rem;
        transform: translateY(-5rem); } }
  .form-control.form-control--auth:placeholder-shown ~ .form-label {
    transform: translateY(-4rem);
    opacity: 0;
    visibility: hidden; }
  .form-submit {
    width: 70%;
    font-size: 2.2rem;
    text-align: center; }
    @media (min-width: 48em) {
      .form-submit {
        font-size: 1.6rem; } }

.btn, .btn:link, .btn:visited {
  padding: 1.2rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  border: none;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.1);
  backface-visibility: hidden; }

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn:active:focus {
  transform: translateY(-0.5px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }

.btn-primary, .btn-primary:link, .btn-primary:active:focus, .btn-primary:visited {
  color: #fff;
  background-color: #f6891f !important;
  outline: none;
  border: none !important; }

.btn-primary:hover {
  background-color: #f58110; }

.img-circle {
  clip-path: circle(50% at 50% 50%);
  text-align: center; }
  .img-circle--lg {
    width: 5rem;
    height: 5rem; }
  .img-circle--sm {
    width: 4rem;
    height: 4rem; }

.img-avatar {
  height: 100%; }

.iua {
  display: flex;
  align-items: center; }
  .iua-body {
    display: flex;
    justify-content: space-between; }
  .iua a.iua-link {
    font-size: 2rem;
    color: #3D3D3D;
    margin: 0;
    display: block; }
  .iua-misc {
    display: flex;
    align-items: center; }
  .iua-time {
    font-size: 1.6rem;
    display: inline-block;
    margin-right: 1rem; }

.news-card {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden; }
  .news-card:not(:last-child) {
    margin-bottom: 3rem; }
  .news-card-header {
    padding: 1rem; }
  .news-card-media {
    width: 100%;
    text-align: center;
    background-color: #f7f7f7; }
  .news-card-img {
    width: 100%; }
  .news-card-text {
    padding: 2rem;
    font-size: 1.6rem;
    color: #3D3D3D; }
  .news-card-footer {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .news-card-action {
    display: inline-flex;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer; }
    .news-card-action .material-icons {
      display: inline-block;
      font-size: 3.2rem;
      margin-right: .5rem; }
  .news-card-action.comment .material-icons {
    color: #f6891f; }
  .news-card-action.like .material-icons {
    transition: all .3s; }
    .news-card-action.like .material-icons:hover {
      transform: scale(1.2); }
  .news-card-action.like .material-icons.liked {
    color: #ff4800; }
  .news-card-btn {
    padding: .5rem 2rem;
    background-color: #f6891f;
    color: #fff !important;
    border-radius: 5px;
    line-height: 1.5; }
  .news-card-share {
    cursor: pointer; }
  .news-card .more {
    display: none; }

.post-make {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 1rem; }
  .post-make--mock {
    cursor: pointer; }
  .post-make-header {
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .post-make-body {
    padding: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .post-make-footer {
    display: flex;
    padding: 1rem 2rem;
    justify-content: flex-end; }
  .post-make-option {
    margin-right: 2rem;
    display: flex;
    align-items: center; }

#app-main-secondary .nav-main {
  display: none; }
  @media (min-width: 62em) {
    #app-main-secondary .nav-main {
      display: flex; } }

#app-main-secondary main.content .container {
  margin: 0;
  padding: 0; }
  @media (min-width: 62em) {
    #app-main-secondary main.content .container {
      margin-right: auto;
      margin-left: auto;
      padding-right: 15px;
      padding-left: 15px; } }

#app-main-secondary main.content .main-content {
  margin-top: 0; }
  @media (min-width: 62em) {
    #app-main-secondary main.content .main-content {
      margin-top: 6rem; } }

#app-main-secondary main.content .news-card {
  border-radius: 0; }
  @media (min-width: 62em) {
    #app-main-secondary main.content .news-card {
      border-radius: 8px; } }

#app-main-secondary main.content .comment-sec-field {
  position: fixed; }
  @media (min-width: 62em) {
    #app-main-secondary main.content .comment-sec-field {
      position: absolute; } }

.header {
  height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(246, 137, 31, 0.92), rgba(246, 137, 31, 0.92)), url(../img/ctland.jpg);
  background-size: cover;
  background-position: center center;
  position: relative; }
  .header-logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header-logo-img {
    height: 5rem; }
  .header-text-box {
    display: block;
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 70%;
    text-align: center;
    transform: translate(-50%, -20%);
    animation: moveInBottom .5s ease-out; }
    .header-text-box--text {
      display: inline;
      position: relative;
      font-size: 4.2rem;
      text-align: center;
      font-weight: 300;
      line-height: 1.2;
      color: #fff; }
      @media (min-width: 48em) {
        .header-text-box--text {
          font-size: 4.8rem;
          font-weight: 100; } }
    .header-text-box--line {
      display: inline-block;
      position: absolute;
      width: 7rem;
      height: 1px;
      background-color: #fff; }
      @media (min-width: 36em) {
        .header-text-box--line {
          width: 10rem; } }
      @media (min-width: 48em) {
        .header-text-box--line {
          width: 14rem; } }
      .header-text-box--line-ll {
        top: 50%;
        right: 100%; }
      .header-text-box--line-lr {
        top: 50%;
        left: 110%; }
      .header-text-box--line-lt {
        width: 5rem;
        transform: rotate(90deg) translateX(-50%);
        transform-origin: left;
        left: 50%;
        top: -50%; }
        @media (min-width: 36em) {
          .header-text-box--line-lt {
            width: 7rem; } }
      .header-text-box--line-lb {
        width: 5rem;
        transform: rotate(90deg) translateX(-50%);
        transform-origin: left;
        left: 50%;
        bottom: -50%; }
        @media (min-width: 36em) {
          .header-text-box--line-lb {
            width: 7rem; } }

.footer {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 2rem; }
  .footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .footer-list a {
      color: #777; }
  .footer-copyright {
    text-align: center;
    margin-top: 1rem; }

.nav {
  display: flex; }
  .nav-auth {
    padding: 2rem; }
    @media (min-width: 62em) {
      .nav-auth {
        display: none;
        padding: 0; } }
  .nav-sub {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    z-index: 5; }
    @media (min-width: 62em) {
      .nav-sub {
        display: none; } }
    .nav-sub a {
      color: #fff; }
  .nav-brand {
    height: 4rem; }
    @media (min-width: 62em) {
      .nav-brand {
        margin-right: 4rem; } }
  .nav-logo {
    height: 4rem; }
  @media (min-width: 62em) {
    .nav-bar {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 4;
      background-color: #fff;
      height: 6rem;
      box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.1); } }
  @media (min-width: 62em) {
    .nav-container {
      display: flex;
      justify-content: space-around; } }
  .nav-main {
    height: 6rem;
    background-color: #fff;
    padding: 0 2rem;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 4; }
    @media (min-width: 62em) {
      .nav-main {
        position: relative;
        justify-content: flex-start; } }
    .nav-main--top {
      top: 0;
      left: 0;
      box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.1); }
      @media (min-width: 62em) {
        .nav-main--top {
          box-shadow: none; } }
    .nav-main--bottom {
      bottom: 0;
      left: 0;
      box-shadow: 0 -2px 0.5rem rgba(0, 0, 0, 0.1); }
      @media (min-width: 62em) {
        .nav-main--bottom {
          box-shadow: none;
          flex: 30% 0 0; } }
  .nav-menu {
    list-style-type: none;
    margin-bottom: 0; }
    .nav-menu--bottom {
      display: flex;
      justify-content: space-around;
      width: 100%; }
      @media (min-width: 62em) {
        .nav-menu--bottom {
          justify-content: space-between; } }
  .nav-item {
    display: inline; }
    .nav-item:not(:last-child) {
      margin-right: 2rem; }
    .nav-item a {
      font-size: 2rem;
      color: #777;
      transition: all .3s; }
      @media (min-width: 62em) {
        .nav-item a .material-icons:hover {
          transform: scale(1.5); } }
    .nav-item.active a {
      color: #f6891f; }
  .nav-icon, .nav-icon:link, .nav-icon:visited, .nav-icon:active {
    font-size: 3rem; }
  .nav .material-icons {
    line-height: 1.5;
    font-size: 3rem;
    transition: all .2s;
    backface-visibility: hidden; }
    @media (min-width: 48em) {
      .nav .material-icons {
        font-size: 2.5rem; } }

.main-content {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 6rem; }
  @media (min-width: 62em) {
    .main-content {
      margin-top: 0rem;
      margin-bottom: 0;
      padding: 2rem; } }
  .main-content--left {
    margin-right: 0;
    flex: 100%; }
    @media (min-width: 62em) {
      .main-content--left {
        margin-right: 5rem;
        flex: 60% 0 0; } }
  .main-content--right {
    display: none; }
    @media (min-width: 62em) {
      .main-content--right {
        display: block;
        flex: calc(40% - 5rem) 0 0; } }

.section-main .main-caption {
  font-size: 1.9rem;
  text-align: center;
  padding: 1rem;
  font-weight: 400; }

.section-main .main-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; }
  @media (min-width: 62em) {
    .section-main .main-cta {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 1rem 0; } }
  .section-main .main-cta--btn {
    width: 28rem;
    font-size: 1.8rem; }
    .section-main .main-cta--btn:not(:last-child) {
      margin-bottom: 1rem; }
      @media (min-width: 62em) {
        .section-main .main-cta--btn:not(:last-child) {
          margin-bottom: 0;
          margin-right: 2rem; } }

.section-auth {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 62em) {
    .section-auth {
      justify-content: flex-end;
      height: 100vh;
      background-image: linear-gradient(to bottom, #f6891f 0%, #f6891f 50%, #fff 50%);
      padding-bottom: 3rem; } }
