<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Explore - Campustalkative</title>

</head>
<body>
    <div id="app-main">
       <nav class="nav nav-bar">
            <div class="container nav-container">

                <!-- NAV TOP FOR MOBILE -->
                <div class="nav-main nav-main--top">
                    <a href="#" class="nav-brand">
                        <img src="../img/CT_Icon.png" alt="Campustalkative logo" class="nav-logo">
                    </a>
                     <ul class="nav-menu nav-menu--top">
                         <li class="nav-item">
                             <a href="#">
                                <i class="material-icons">
                                    search
                                </i>
                            </a>
                           
                         </li>
                         <li class="nav-item">
                            <a href="notification.html"><i class="material-icons">notifications</i></a>
                         </li>
                     </ul>
                </div>
     
                <!-- NAV BOTTOM FOR MOBILE -->

                <div class="nav-main nav-main--bottom">
                     <ul class="nav-menu nav-menu--bottom">
                         <li class="nav-item active">
                            <a href="home.html"><i class="material-icons">home</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="tv.html"><i class="material-icons">live_tv</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="explore.html"><i class="material-icons">explore</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="forum.html"><i class="material-icons">forum</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="profile.html">
                                <div class="img-circle img-circle--sm">
                                    <img src="../img/a4.jpg" alt="avatar" class="img-avatar">
                                </div>
                            </a>
                         </li>
                     </ul>
                </div>

            </div>
       </nav>

       <main class="content">
            <div class="container">
                <section class="main-content d-block">
                    <h1 class="page-title mobile-view-only"> Explore</h1>

                    <div id="expore" class="explore">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="explore-item">
                                     <article class="news-card">

                                        <div class="news-card-header">

                                            <!-- iua (image| user |action styling )-->

                                            <div class="media iua">
                                                <div class="iua-img img-circle img-circle--lg">
                                                    <img src="../img/a4.jpg" alt="User image" class="img-avatar">
                                                </div>

                                                <div class="media-body iua-body pl-4">
                                                    <span class="iua-name"><a href="#" class="iua-link">Ada John</a></span>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news-card-body">
                                            <div class="news-card-media">
                                                <img src="../img/FUT-Minna.jpg" alt="AsiaticSocietyofMumbai1" class="news-card-img">
                                            </div>
                                            <div class="news-card-text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                            </div>
                                        </div>
                                        <div class="news-card-footer">
                                            <div>
                                                <span  class="like">
                                                    <i class="material-icons ">favorite_border</i>
                                                    <span class="like-count">101</span>
                                                </span>
                                                <span class="comment">
                                                    <a href="post-view.html">

                                                        <i class="material-icons">comment</i>
                                                    </a>
                                                    <span class="comment-count">101</span>
                                                </span>

                                            </div>

                                        
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="explore-item">
                                     <article class="news-card">

                                        <div class="news-card-header">

                                            <!-- iua (image| user |action styling )-->

                                            <div class="media iua">
                                                <div class="iua-img img-circle img-circle--lg">
                                                    <img src="../img/a4.jpg" alt="User image" class="img-avatar">
                                                </div>

                                                <div class="media-body iua-body pl-4">
                                                    <span class="iua-name"><a href="#" class="iua-link">Ada John</a></span>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news-card-body">
                                            <div class="news-card-media">
                                                <img src="../img/FUT-Minna.jpg" alt="AsiaticSocietyofMumbai1" class="news-card-img">
                                            </div>
                                            <div class="news-card-text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                            </div>
                                        </div>
                                        <div class="news-card-footer">
                                            <div>
                                                <span  class="like">
                                                    <i class="material-icons ">favorite_border</i>
                                                    <span class="like-count">101</span>
                                                </span>
                                                <span class="comment">
                                                    <a href="post-view.html">

                                                        <i class="material-icons">comment</i>
                                                    </a>
                                                    <span class="comment-count">101</span>
                                                </span>

                                            </div>

                                        
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="explore-item">
                                     <article class="news-card">

                                        <div class="news-card-header">

                                            <!-- iua (image| user |action styling )-->

                                            <div class="media iua">
                                                <div class="iua-img img-circle img-circle--lg">
                                                    <img src="../img/a4.jpg" alt="User image" class="img-avatar">
                                                </div>

                                                <div class="media-body iua-body pl-4">
                                                    <span class="iua-name"><a href="#" class="iua-link">Ada John</a></span>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news-card-body">
                                            <div class="news-card-media">
                                                <img src="../img/FUT-Minna.jpg" alt="AsiaticSocietyofMumbai1" class="news-card-img">
                                            </div>
                                            <div class="news-card-text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                            </div>
                                        </div>
                                        <div class="news-card-footer">
                                            <div>
                                                <span  class="like">
                                                    <i class="material-icons ">favorite_border</i>
                                                    <span class="like-count">101</span>
                                                </span>
                                                <span class="comment">
                                                    <a href="post-view.html">

                                                        <i class="material-icons">comment</i>
                                                    </a>
                                                    <span class="comment-count">101</span>
                                                </span>

                                            </div>

                                        
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="explore-item">
                                     <article class="news-card">

                                        <div class="news-card-header">

                                            <!-- iua (image| user |action styling )-->

                                            <div class="media iua">
                                                <div class="iua-img img-circle img-circle--lg">
                                                    <img src="../img/a4.jpg" alt="User image" class="img-avatar">
                                                </div>

                                                <div class="media-body iua-body pl-4">
                                                    <span class="iua-name"><a href="#" class="iua-link">Ada John</a></span>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news-card-body">
                                            <div class="news-card-media">
                                                <img src="../img/FUT-Minna.jpg" alt="AsiaticSocietyofMumbai1" class="news-card-img">
                                            </div>
                                            <div class="news-card-text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                            </div>
                                        </div>
                                        <div class="news-card-footer">
                                            <div>
                                                <span  class="like">
                                                    <i class="material-icons ">favorite_border</i>
                                                    <span class="like-count">101</span>
                                                </span>
                                                <span class="comment">
                                                    <a href="post-view.html">

                                                        <i class="material-icons">comment</i>
                                                    </a>
                                                    <span class="comment-count">101</span>
                                                </span>

                                            </div>

                                        
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="explore-item ">
                                     <article class="news-card">

                                        <div class="news-card-header">

                                            <!-- iua (image| user |action styling )-->

                                            <div class="media iua">
                                                <div class="iua-img img-circle img-circle--lg">
                                                    <img src="../img/a4.jpg" alt="User image" class="img-avatar">
                                                </div>

                                                <div class="media-body iua-body pl-4">
                                                    <span class="iua-name"><a href="#" class="iua-link">Ada John</a></span>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news-card-body">
                                            <div class="news-card-media">
                                                <img src="../img/FUT-Minna.jpg" alt="AsiaticSocietyofMumbai1" class="news-card-img">
                                            </div>
                                            <div class="news-card-text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                            </div>
                                        </div>
                                        <div class="news-card-footer">
                                            <div>
                                                <span  class="like">
                                                    <i class="material-icons ">favorite_border</i>
                                                    <span class="like-count">101</span>
                                                </span>
                                                <span class="comment">
                                                    <a href="post-view.html">

                                                        <i class="material-icons">comment</i>
                                                    </a>
                                                    <span class="comment-count">101</span>
                                                </span>

                                            </div>

                                        
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
       </main>

  
    </div>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/main.js"></script>
</body>

</html>