<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Campustalkative - we talk to connect</title>

</head>
    <div id="app-main-secondary">
       <nav class="nav nav-bar">
            <div class="container nav-container">

                <!-- NAV TOP FOR MOBILE -->
                <div class="nav-main nav-main--top">
                    <a href="#" class="nav-brand">
                        <img src="../img/CT_Icon.png" alt="Campustalkative logo" class="nav-logo">
                    </a>
                     <ul class="nav-menu nav-menu--top">
                         <li class="nav-item">
                             <a href="#">
                                <i class="material-icons">
                                    search
                                </i>
                            </a>
                           
                         </li>
                         <li class="nav-item">
                            <a href="notification.html"><i class="material-icons">notifications</i></a>
                         </li>
                     </ul>
                </div>
     
                <!-- NAV BOTTOM FOR MOBILE -->

                <div class="nav-main nav-main--bottom">
                     <ul class="nav-menu nav-menu--bottom">
                         <li class="nav-item active">
                            <a href="home.html"><i class="material-icons">home</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="tv.html"><i class="material-icons">live_tv</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="explore.html"><i class="material-icons">explore</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="forum.html"><i class="material-icons">forum</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="profile.html">
                                <div class="img-circle img-circle--sm">
                                    <img src="../img/a4.jpg" alt="avatar" class="img-avatar">
                                </div>
                            </a>
                         </li>
                     </ul>
                </div>

            </div>
       </nav>

       <main class="content">
            <div class="container">
                <section class="main-content d-block">
                    <h1 class="page-title">communities</h1>
                    
                    <div class="forum">
                        <div class="row">
                            <div class="col-lg-3">
                                <ul class="nav nav-tabs forum-nav shadow-sm" id="myTab" role="tablist">
                                    <li class="nav-item forum-nav-item">
                                        <a class="nav-link active" id="recommended-tab" data-toggle="tab" href="#recommended" role="tab" aria-controls="recommended"
                                            aria-selected="true">Recommended</a>
                                    </li>
                                    <li class="nav-item forum-nav-item">
                                        <a class="nav-link" id="your-comm-tab" data-toggle="tab" href="#your-comm" role="tab" aria-controls="your-comm"
                                            aria-selected="false">Your Communities</a>
                                    </li>
                                  
                                </ul>
                            </div>
                            <div class="col-lg-9">
                                <div class="tab-content forum-tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="recommended" role="tabpanel" aria-labelledby="recommended-tab">
                                      <div class="row">
                                          <div class="col-6">
                                                <div class="forum-card card">
                                                    <div class="forum-img forum-img--thumb">
                                                        <img src="../img/dev.jpg" alt="dev" class="forum-display-img">
                                                    </div>
                                                    <div class="card-body">
                                                        <h4 class="forum-title">FUTMx Dev Cirlce</h4>
                                                        <p class="forum-member-count">108 members</p>
                                                        

                                                        <a class="btn btn-sm btn-primary forum-btn">join</a>
                                                    </div>
                                                
                                                </div>
                                          </div>
                                          <div class="col-6">
                                                <div class="forum-card card">
                                                    <div class="forum-img forum-img--thumb">
                                                        <img src="../img/food.jpg" alt="food" class="forum-display-img">
                                                    </div>
                                                    <div class="card-body">
                                                        <h4 class="forum-title">Food and Munchies</h4>
                                                        <p class="forum-member-count">253 members</p>
                                                        

                                                        <a class="btn btn-sm btn-primary forum-btn">join</a>
                                                    </div>
                                                
                                                </div>
                                          </div>
                                          
                                      </div>
                                    </div>
                                    <div class="tab-pane fade" id="your-comm" role="tabpanel" aria-labelledby="your-comm-tab">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="forum-card card">
                                                    <div class="forum-img forum-img--thumb">
                                                        <img src="../img/art.jpg" alt="art" class="forum-display-img">
                                                    </div>
                                                    <div class="card-body">
                                                        <h4 class="forum-title">Artist Lodge</h4>
                                                        <p class="forum-member-count">79 members</p>
                                                
                                                
                                                        <a class="btn btn-sm btn-primary forum-btn">visit</a>
                                                    </div>
                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
       </main>

       <div class="compose">
           <button type="button" class="compose-toggle shadow-lg" data-toggle="modal" data-target="#composeModal">
           
              <span class="h1">+</span>
               <!-- <span class="compose-btn-text">compose</span> -->
           
           </button>
            <div class="modal fade" id="composeModal" tabindex="-1" role="dialog" aria-labelledby="composeModallabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="heading-secondary" id="composeModallabel">Add a new Community</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">close</i></span>
                            </button>
                        </div>
                        <form action="" method="POST" class="compose-form">
                            <div class="modal-body">
                                <div class="media">
                                    <img src="../img/a3.jpg" alt="avatar" class="img-circle img-circle--lg">
                                    <div class="media-body ml-3">
                                        <div class="compose-field">
                                        <div class="form-group">

                                            <input type="text" name="" id="" class="compose-input form-control" placeholder="give this community a name!">
                                        </div>
                                        <textarea name="compose-area" id="compose-area" rows="3" class="compose-text-area form-control"
                                            placeholder="Describe this community! "></textarea>
                                        </div>
                                        <div class="form-group py-4">
                                            <input type="file" name="upload" id="upload" class="compose-upload">
                                            <label for="upload" class="btn btn-secondary compose-btn">upload display image</label>
                                        </div>
                                        <!-- <div class="text-right p-3 font-weight-bold compose-count">
                                            <span class="word-count">0</span>/<span class="word-length">2000</span>
                                        </div> -->
                                    </div>
                                </div>
            
                            </div>
                            <div class="modal-footer">
            
                                <button type="button" class="btn btn-primary compose-btn ">Create</button>
                            </div>
            
                        </form>
                    </div>
                </div>
            </div>

       </div>

  
    </div>
<body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/main.js"></script>
</body>

</html>