<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Campustalkative - we talk to connect</title>

</head>
    <div id="app-main">

        <!-- SEARCH RESULT FIELD -->
        <div id="search" class="search">
            <div class="row justify-content-center">
                <div class="col-md-5 col-sm-8">
                    <div class="search-query">
                        search result for: <span class="search-query-val"></span>
                    </div>
                    <div class="search-result">
                        <ul class="search-list nav flex-column">
                            <li class="search-item nav-item">
                                <a href="#" class="search-link">
                                    <div class="media iua">
                                        <div class="img-circle img-circle--lg">
                                            <img src="../img/a1.jpg" alt="avatar1" id="result-1" class="img-avatar">
                                        </div>
                                        <div class="media-body media-body--spaced">
                                            Andrew Von
                                        </div>
                                    </div>
        
                                </a>
                            </li>
                            <li class="search-item nav-item">
                                <a href="#" class="search-link">
                                    <div class="media iua">
                                        <div class="img-circle img-circle--lg">
                                            <img src="../img/a3.jpg" alt="avatar 2" id="result-2" class="img-avatar">
                                        </div>
                                        <div class="media-body media-body--spaced">
                                            Jessica Doe
                                        </div>
                                    </div>
        
                                </a>
                            </li>
        
                            <li class="search-list">
                                <a href="#" class="search-link">
                                    <span class="hashtag">Campustalkative</span>
                                </a>
                            </li>
                        </ul>
                    </div>
        
                </div>
                
            </div>
        </div>

       <nav class="nav nav-bar">
            <div class="container nav-container">

                <!-- NAV TOP FOR MOBILE -->
                <div class="nav-main nav-main--top">
                    <a href="#" class="nav-brand">
                        <img src="../img/CT_Icon.png" alt="Campustalkative logo" class="nav-logo">
                    </a>
                     <ul class="nav-menu nav-menu--top">
                         <li class="nav-item">
                             <a href="#" class="search-toggle">
                                <i class="material-icons">
                                    search
                                </i>
                            </a>
                           
                         </li>
                         <li class="nav-item">
                            <a href="notification.html"><i class="material-icons">notifications</i></a>
                         </li>
                     </ul>
                </div>
     
                <!-- NAV BOTTOM FOR MOBILE -->

                <div class="nav-main nav-main--bottom">
                     <ul class="nav-menu nav-menu--bottom">
                         <li class="nav-item active">
                            <a href="home.html"><i class="material-icons">home</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="tv.html"><i class="material-icons">live_tv</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="explore.html"><i class="material-icons">explore</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="forum.html"><i class="material-icons">forum</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="profile.html">
                                <div class="img-circle img-circle--sm">
                                    <img src="../img/a4.jpg" alt="avatar" class="img-avatar">
                                </div>
                            </a>
                         </li>
                     </ul>
                </div>

            </div>
            <!-- SEARCH FORM -->
            <form action="" method="post" class="nav-search">
                <input type="text" name="search" id="search" class="nav-search-form " placeholder="Search...">
                <span class="search-close"><i class="material-icons">close</i></span>
            </form>
       </nav>

       <main class="content">
            <div class="container">

                <section  class="main-content">

                    <!-- SECTION CONTENT LEFT FOR DESKTOP -->
                    <div class="main-content--left">
                        <!-- MAKE POST -->

                        <div class="post-make post-make--mock shadow-sm" data-toggle="modal" data-target="#composeModal">
                            <!-- <div class="post-make-header">
                                <h2 class="heading-secondary p-0">make a post</h2>
                            </div> -->
                            <div class="post-make-body">
                                <div class="iua">
                                    <div class="iua-img img-circle img-circle--lg">
                                        <img src="../img/a4.jpg" alt="avatar" class="img-avatar">
                                    </div>
                                    <div class="iua-body pl-4">
                                        Hey Maris, What's going on...
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- <div class="post-make-footer">
                                <div class="span post-make-option">
                                    <i class="material-icons">image</i>photo
                                </div>
                                <div class="span post-make-option">
                                    <i class="material-icons">movie_creation</i>video
                                </div>
                            </div> -->
                        </div>
                        <!-- NEWS CARD -->
                        <article class="news-card">

                            <div class="news-card-header">

                                <!-- iua (image| user |action styling )-->

                                <div class="media iua">
                                    <div class="iua-img img-circle img-circle--lg">
                                        <img src="../img/a4.jpg" alt="User image" class="img-avatar">
                                    </div>

                                    <div class="media-body iua-body pl-4">
                                        <span class="iua-name"><a href="#" class="iua-link">Ada John</a></span>
                                        <span class="iua-misc">
                                            <span class="iua-time">2m</span>

                                            <!-- share -->

                                            <!-- <span class="iua-action news-card-share" data-toggle="modal" data-target="#shareModal">
                                                <i class="material-icons">share</i>
                                            </span> -->


                                            <div class="dropdown news-card-dropdown">
                                                <span class="iua-action  dropdown-toggle"  id="moreDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons">more_vert</i>
                                                </span>

                                                <div class="dropdown-menu shadow-lg" aria-labelledby="moreDropdown">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="material-icons">edit</i>
                                                        edit post
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="material-icons">delete_outline</i>
                                                        delete post
                                                    </a>
                                                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#shareModal">
                                                        <i class="material-icons" >share</i>
                                                        share
                                                    </a>
                                                    
                                                </div>

                                            </div>





                                            
                                            <!-- <div class="modal fade" id="moreModal" tabindex="-1" role="dialog" aria-labelledby="shareModallabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        
                                                        <ul class="nav  p-4 flex-column">
                                                            <li class="nav-items">
                                                                <a href="#" class="nav-link">edit post</a>
                                                            </li>
                                                            <li class="nav-items">
                                                                <a href="#" class="nav-link">delete post</a>
                                                            </li>
                                                            <li class="nav-items">
                                                                <a href="#" class="nav-item" data-toggle="modal" data-target="#shareModal">share</a>
                                                            </li>
                                                        </ul>
                                                        
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModallabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        
                                                        <ul class="nav  p-4 justify-content-around">
                                                            <li class="nav-item">
                                                                <a href="#" class="nav-link">
                                                                    <img src="../img/facebook.svg" alt="facebook"  height="40">
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="#" class="nav-link">
                                                                    <img src="../img/whatsapp.svg" alt="whatsapp" height="40">
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="#" class="nav-link">

                                                                <img src="../img/instagram.svg" alt="instagram" height="40">

                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="#" class="nav-link">
                                                                    <img src="../img/twitter.svg" alt="twitter" height="40">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-card-body">
                                <div class="news-card-media">
                                    <img src="../img/FUT-Minna.jpg" alt="AsiaticSocietyofMumbai1" class="news-card-img">
                                </div>
                                <div class="news-card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                </div>
                            </div>
                            <div class="news-card-footer">
                                <div>
                                    <span  class="news-card-action like">
                                        <i class="material-icons liked">favorite_border</i>
                                        <span class="like-count">101</span>
                                    </span>
                                    <span class="news-card-action comment">
                                        <a href="post-view.html">

                                            <i class="material-icons">comment</i>
                                        </a>
                                        <span class="comment-count">101</span>
                                    </span>

                                </div>

                                <a href="post-view.html" class="news-card-btn more">more...</a>
                            </div>
                        </article>
                        <!-- NEWS CARD -->
                        <article class="news-card">

                            <div class="news-card-header">

                                <!-- iua (image| user |action styling )-->

                                <div class="media iua">
                                    <div class="iua-img img-circle img-circle--lg">
                                        <img src="../img/a3.jpg" alt="User image" class="img-avatar">
                                    </div>

                                    <div class="media-body iua-body pl-4">
                                        <span class="iua-name"><a href="#" class="iua-link">Amanda Miles</a></span>
                                        <span class="iua-misc">
                                            <span class="iua-time">3d</span>
                                            <span class="iua-action news-card-share"><i class="material-icons">share</i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="news-card-body">
                                <div class="news-card-media">
                                    <img src="../img/AsiaticSocietyofMumbai1.jpg" alt="AsiaticSocietyofMumbai1" class="news-card-img">
                                </div>
                                <div class="news-card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iusto, amet ad repudiandae quas rem dolorum ullam laboriosam.
                                </div>
                            </div>
                            <div class="news-card-footer">
                                <div>
                                    <span id="like" class="news-card-action like">
                                        <i class="material-icons liked">favorite_border</i>
                                        <span class="like-count">101</span>
                                    </span>
                                    <span id="comment" class="news-card-action comment">
                                        <i class="material-icons">comment</i>
                                        <span class="comment-count">101</span>
                                    </span>

                                </div>

                                <a href="#" class="news-card-btn more">more...</a>
                            </div>
                        </article>
                    </div>

                    <!-- SECTION CONTENT RIGHT FOR DESKTOP -->

                    <div class="main-content--right">
                        <div class="card card-aside">
                            <div class="card-header">
                               <h2 class="heading-secondary py-3">meet new people</h2>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="iua">
                                        <div class="iua-img img-circle img-circle--lg align-self-start">
                                            <img src="../img/a3.jpg" alt="new person" class="img-avatar">
                                        </div>
                                        <div class="iua-body pl-4 w-100">
                                            <span class="iua-name">
                                                <a href="#" class="iua-link">khadi Briamo</a>
                                                <span class="small">FUTMINNA, Comp.Sci</span>
                                            </span>
                                            <span class="iua-misc align-self-start">
                                                <a href="#" class="btn-link">watch</a>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="iua">
                                        <div class="iua-img img-circle img-circle--lg align-self-start">
                                            <img src="../img/a6.jpg" alt="new person" class="img-avatar">
                                        </div>
                                        <div class="iua-body pl-4 w-100">
                                            <span class="iua-name">
                                                <a href="#" class="iua-link">

                                                    Madia Mira
                                                </a>
                                                <span class="small">UNILORIN, Physics</span>
                                            </span>
                                            <span class="iua-misc align-self-start">
                                                <a href="#" class="btn-link">watch</a>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="iua">
                                        <div class="iua-img img-circle img-circle--lg">
                                            <img src="../img/a4.jpg" alt="new person" class="img-avatar">
                                        </div>
                                        <div class="iua-body pl-4 w-100">
                                            <span class="iua-name">
                                                <a href="#" class="iua-link">
                                                    Madia Mira
                                                </a>

                                            </span>
                                            <span class="iua-misc">
                                                <a href="#" class="btn-link">watch</a>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                               
                            </ul>
                        </div>


                        <footer class="footer">
                            <div class="footer-list">
                                <a href="#" class="footer-link">home</a>
                                <a href="#" class="footer-link">terms</a>
                                <a href="#" class="footer-link">privacy</a>
                                <a href="#" class="footer-link">about</a>
                                <a href="#" class="footer-link">reach</a>
                            </div>
                            <div class="footer-copyright">copyright&copy; 2019 | Campustalkative</div>
                        </footer>
                    </div>
                </section>
               
            </div>
       </main>

       <div class="compose">
           <button type="button" class="compose-toggle shadow-lg" data-toggle="modal" data-target="#composeModal">
              
                <svg width="22" height="23"  class="compose-btn-icon" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 2.5V21L6.5 15.5H19.5C20.7 15.5 21 14.8333 21 14.5V2.5C21 1.3 20 1 19.5 1H2.5C1.3 1 1 2 1 2.5Z"
                        fill="white" />
                    <path
                        d="M1 21H0.5V22.2071L1.35355 21.3536L1 21ZM6.5 15.5V15H6.29289L6.14645 15.1464L6.5 15.5ZM1.5 21V2.5H0.5V21H1.5ZM1.5 2.5C1.5 2.33001 1.55511 2.0639 1.70577 1.85465C1.83807 1.6709 2.06296 1.5 2.5 1.5V0.5C1.73704 0.5 1.21193 0.8291 0.894233 1.27035C0.59489 1.6861 0.5 2.16999 0.5 2.5H1.5ZM2.5 1.5H19.5V0.5H2.5V1.5ZM19.5 1.5C19.67 1.5 19.9361 1.55511 20.1453 1.70577C20.3291 1.83807 20.5 2.06296 20.5 2.5H21.5C21.5 1.73704 21.1709 1.21193 20.7297 0.894233C20.3139 0.59489 19.83 0.5 19.5 0.5V1.5ZM20.5 2.5V14.5H21.5V2.5H20.5ZM20.5 14.5C20.5 14.5325 20.4794 14.6479 20.3603 14.7581C20.2487 14.8614 20.0059 15 19.5 15V16C20.1941 16 20.7013 15.8052 21.0397 15.4919C21.3706 15.1855 21.5 14.8008 21.5 14.5H20.5ZM19.5 15H6.5V16H19.5V15ZM6.14645 15.1464L0.646447 20.6464L1.35355 21.3536L6.85355 15.8536L6.14645 15.1464Z"
                        fill="white" />
                </svg>
                <!-- <span class="compose-btn-text">compose</span> -->
             
           </button >

            <div class="modal fade" id="composeModal" tabindex="-1" role="dialog" aria-labelledby="composeModallabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="heading-secondary" id="composeModallabel">Make a post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">close</i></span>
                            </button>
                        </div>
                        <form action="" method="POST" class="compose-form">
                            <div class="modal-body">
                                <div class="media">
                                    <img src="../img/a3.jpg" alt="avatar" class="img-circle img-circle--lg">
                                    <div class="media-body ml-3">
                                        <div class="compose-field">
                                            <textarea name="compose-area" id="compose-area"  rows="6"  class="compose-text-area form-control" placeholder="Hey Maris, What's going on..."></textarea>
                                        </div>
                                        <div class="text-right p-3 font-weight-bold compose-count">
                                            <span class="word-count">0</span>/<span class="word-length">2000</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <input type="file" name="upload" id="upload" class="compose-upload">
                                <label for="upload" class="btn btn-secondary compose-btn">upload</label>
                                
                                <button type="button" class="btn btn-primary compose-btn ">post</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
       </div>

    </div>
<body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>
</body>

</html>