<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Terms and Condition</title>

</head>
    <div id="app-main-secondary">
       <nav class="nav nav-bar">
            <div class="container nav-container">

                <!-- NAV TOP FOR MOBILE -->
                <div class="nav-main nav-main--top">
                    <a href="#" class="nav-brand">
                        <img src="../img/CT_Icon.png" alt="Campustalkative logo" class="nav-logo">
                    </a>
                     <ul class="nav-menu nav-menu--top">
                         <li class="nav-item">
                             <a href="#">
                                <i class="material-icons">
                                    search
                                </i>
                            </a>
                           
                         </li>
                         <li class="nav-item">
                            <a href="notification.html"><i class="material-icons">notifications</i></a>
                         </li>
                     </ul>
                </div>
     
                <!-- NAV BOTTOM FOR MOBILE -->

                <div class="nav-main nav-main--bottom">
                     <ul class="nav-menu nav-menu--bottom">
                         <li class="nav-item active">
                            <a href="home.html"><i class="material-icons">home</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="tv.html"><i class="material-icons">live_tv</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="explore.html"><i class="material-icons">explore</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="forum.html"><i class="material-icons">group</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="profile.html">
                                <div class="img-circle img-circle--sm">
                                    <img src="../img/a4.jpg" alt="avatar" class="img-avatar">
                                </div>
                            </a>
                         </li>
                     </ul>
                </div>

            </div>
       </nav>

       <main class="content">
            <div class="container">
                <section class="main-content d-block">
                    <h1 class="page-title">Terms and Condition</h1>
                    <div class="row justify-content-center">
                        <div class="col-md-9">

                            <div class="page-extra shadow-sm">
                               
                                <p>Terms and Conditions ("Terms")</p>

                                <p class="page-extra-text">
                                    Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the Campus Talkative
                                    website and the mobile application (the "Service") operated by Cmpus Talkative ("us", "we", or "our").
                                </p>

                                <p class="page-extra-text">
                                    Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms
                                    apply to all visitors, users and others who access or use the Service.
                                </p>
                                <p class="page-extra-text font-weight-bold">
                                    By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then
                                    you may not access the Service.
                                </p>

                                <div class="page-extra-section">
                                    <h5 class="page-extra-title">Purchases</h5>
                                    <p class="page-extra-text">
                                        If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to
                                        supply certain information relevant to your Purchase including, without limitation, your …
                                    </p>
                                    <p class="page-extra-text">
                                        The Purchases section is for businesses that sell online (physical or digital).
                                    </p>
                                </div>
                                <div class="page-extra-section">
                                    <h5 class="page-extra-title">Subscriptions</h5>
                                    <p class="page-extra-text">
                                        Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be billed in advance on a
                                        recurring ...
                                    </p>
                                    
                                </div>
                                
                                <div class="page-extra-section">
                                    <h5 class="page-extra-title">Contents</h5>
                                    <p class="page-extra-text">
                                        Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics,
                                        videos, or other material ("Content"). You are responsible for the ... 
                                    </p>
                                    
                                </div>
                                <div class="page-extra-section">
                                    <h5 class="page-extra-title">Links to other Websites</h5>
                                    <p class="page-extra-text">
                                        Our Service may contain links to third-party web sites or services that are not owned or controlled by Campus Talkative.
                                        Campus Talkative has no control over, and assumes no responsibility for, the content, privacy policies, or practices of
                                        any third party web sites or services. You further acknowledge and agree that Campus Talkative shall not be responsible
                                        or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of
                                        or reliance on any such content, goods or services available on or through any such web sites or services.

                                    </p>
                                    
                                </div>
                                <div class="page-extra-section">
                                    <h5 class="page-extra-title">Changes</h5>
                                    <p class="page-extra-text">
                                        We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we
                                        will try to provide at least30 days' notice prior to any new terms taking effect. What constitutes a material change
                                        will be determined at our sole discretion.
                                    </p>
                                    
                                </div>
                                <div class="page-extra-section">
                                    <h5 class="page-extra-title">Contact Us</h5>
                                    <p class="page-extra-text">
                                         If you have any questions about these Terms, please contact us.
                                    </p>
                                    
                                </div>

                            </div>

                        </div>
                    </div>
                    
                </section>
                
            </div>
       </main>


       <footer class="footer p-4 text-center">
           &copy; Campustalkative 2019
       </footer>
  
    </div>
<body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/main.js"></script>
</body>

</html>