<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Campustalkative - we talk to connect</title>

</head>
<body>
    <div id="app-main-secondary">
       <nav class="nav nav-bar">
            <div class="container nav-container">

                <!-- NAV TOP FOR MOBILE -->
                <div class="nav-main nav-main--top">
                    <a href="#" class="nav-brand">
                        <img src="../img/CT_Icon.png" alt="Campustalkative logo" class="nav-logo">
                    </a>
                     <ul class="nav-menu nav-menu--top">
                         <li class="nav-item">
                             <a href="#">
                                <i class="material-icons">
                                    search
                                </i>
                            </a>
                           
                         </li>
                         <li class="nav-item">
                            <a href="notification.html"><i class="material-icons">notifications</i></a>
                         </li>
                     </ul>
                </div>
     
                <!-- NAV BOTTOM FOR MOBILE -->

                <div class="nav-main nav-main--bottom">
                     <ul class="nav-menu nav-menu--bottom">
                         <li class="nav-item active">
                            <a href="home.html"><i class="material-icons">home</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="tv.html"><i class="material-icons">live_tv</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="explore.html"><i class="material-icons">explore</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="forum.html"><i class="material-icons">forum</i></a>
                         </li>
                         <li class="nav-item">
                            <a href="profile.html">
                                <div class="img-circle img-circle--sm">
                                    <img src="../img/a4.jpg" alt="avatar" class="img-avatar">
                                </div>
                            </a>
                         </li>
                     </ul>
                </div>

            </div>
       </nav>

       <main class="content">
            <div class="container">
                <section class="main-content d-block">
                    <h1 class="page-title mobile-view-only"> CT TV</h1>
                    <div id="tv" class="tv">

                        <div class="row">

                            <div class="col-md-3">
                                <div class="tv-filter">

                                    <!-- <small class="text-secondary">FILTER</small> -->
                                    <a class="card " data-toggle="collapse" href="#filterList" aria-expanded="false" aria-controls="filterList">
                                        <div class="card-body d-flex justify-content-between">
                                            <span class="tv-filter-name">All</span>
                                            <i class="material-icons">filter_list</i>
                                    
                                        </div>
                                    </a>
                                    <div class="collapse tv-filter-list" id="filterList">
                                      
                                        <ul class="list-group">
                                            <li class="list-group-item tv-filter-item">All</li>
                                            <li class="list-group-item tv-filter-item">Campus Blunder</li>
                                            <li class="list-group-item tv-filter-item">I talk</li>
                                            <li class="list-group-item tv-filter-item">Fashion Trends</li>
                                            <li class="list-group-item tv-filter-item">Youth Matters</li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tv-content">

                                    <div class="row">
                                        <div class="col-md-6">
                                            
                                            <a href="#" class="tv-poster">
                                                <img src="../img/4.jpg" alt="poster" class="tv-poster-image">

                                                <div class="tv-caption">
                                                    CHECKOUT THIS STUDENT
                                                </div>
                                                <div class="tv-video-detail">
                                                   <div class="tv-video-detail-holder">
                                                       <div>
                                                           <span class="tv-video-detail-item views">
                                                               <i class="material-icons">visibility</i>
                                                               6 views
                                                           </span>
                                                           <span class="tv-video-detail-item like">
                                                               <i class="material-icons liked">favorite_border</i>
                                                               4 likes
                                                            </span>
                                                           
                                                           <span class=" tv-video-detail-item share">
                                                               <i class="material-icons">share</i>
                                                               2 shares
                                                           </span>

                                                       </div>

                                                       <div class="tv-video-detail-category">
                                                           campus blunderrrrr
                                                       </div>
                                                   </div>
                                                </div>
                                            </a >
                                        </div>
                                        <div class="col-md-6">
                                            
                                            <a href="#" class="tv-poster">
                                                <img src="../img/8.jpg" alt="poster" class="tv-poster-image">

                                                <div class="tv-caption">
                                                    OMG!!!, YOU'D LOVE THIS
                                                </div>
                                                <div class="tv-video-detail">
                                                   <div class="tv-video-detail-holder">
                                                       <div>
                                                           <span class="tv-video-detail-item views">
                                                               <i class="material-icons">visibility</i>
                                                               6 views
                                                           </span>
                                                           <span class="tv-video-detail-item like">
                                                               <i class="material-icons liked">favorite_border</i>
                                                               4 likes
                                                            </span>
                                                           
                                                           <span class=" tv-video-detail-item share">
                                                               <i class="material-icons">share</i>
                                                               2 shares
                                                           </span>

                                                       </div>

                                                       <div class="tv-video-detail-category">
                                                           campus blunderrrrr
                                                       </div>
                                                   </div>
                                                </div>
                                            </a >
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </section>
            </div>
       </main>

  
    </div>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/main.js"></script>

<script>

    // FILTER LIST NAME CHANGE

    var filterName = $('.tv-filter-name');
    var filter = {
        name: 'All'
      
    };

    $('.tv-filter-item').on('click', function () {

            filter.name = $(this).text();

            filterName.text(filter.name);

    })



</script>

</body>

</html>