$color-primary-light : lighten(#f6891f, 10%);
$color-primary : #f6891f;

$color-secondary: #303030;

$color-dark-grey: #3f3f3f;
$color-lighter-grey: #f7f7f7;
$color-light-grey: #e4e4e4;
$color-greyish: #F9FBFC;
$color-white: #fff;
$color-black: #000;

$color-liked: #ff4800;

$default-font-size: 1.6rem;

$nav-height: 6rem;