$color-primary-light : lighten(#f6891f, 10%);
$color-primary : #f6891f;

$color-secondary: #3D3D3D;

$color-dark-grey: #777;
$color-lighter-grey: #f7f7f7;
$color-light-grey: #e4e4e4;
$color-greyish: #F9FBFC;
$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;