.comment-sec{
    padding: 1rem 2rem;
    padding-bottom: 6rem;
    border-top: 1px solid rgba($color-black, .1);
    position: relative;

    &-comment{
        font-size: 1.4rem;
    }
    &-list{
        margin-bottom: 1rem;
    }

    &-field{
        position: absolute;
        background-color: $color-white;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    &-form{
        display: flex;
        justify-content: space-around;
       
    }

    &-text{
        width: 90%;
        border: none;
        padding: 0 2rem;
        resize: none;
        &:focus{
            border: none;
            outline: none;
        }
    }

    &-send{
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:foucs{
            outline: none;
        }
    }
}