.comment-sec{
    padding: 1rem 2rem;
    padding-bottom: 6rem;
    border-top: 1px solid rgba($color-black, .1);
    position: relative;

    &-comment{
        font-size: 1.4rem;
    }
    &-list{
        margin-bottom: 1rem;
    }

    &-field{
        position: absolute;
        background-color: $color-white;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    &-form{
        display: flex;
        justify-content: space-around;
       
    }

    &-text{
        width: 90%;
        height: 5rem;
        border: none;
        padding: 1rem 2rem;
        resize: none;

        &:focus{
            border: none;
            outline: none;
        }
    }

    &-send{
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:foucs{
            outline: none;
        }
    }

    &-more{
        // box-shadow: 0 0 .5rem rgba($color-black, .1);
        padding: 1rem 2rem;
        margin: 1rem -2rem;
        text-align: center;
        position: relative;
        height: 4rem;

        .line{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% ,-50%);
            z-index: 1;
        }
    }

    &-extra{
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $color-white;
        transform: translate(-50% ,-50%);
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 10rem;
        box-shadow: 0 0 .5rem rgba($color-black, .2);
        cursor: pointer;
        color: $color-primary;
        z-index: 2;
    }
}