.iua{
    display: flex;
    align-items: center;

    &-body{
        display: flex;
        justify-content: space-between;
    }
    // &-name{
    //     // font-size: 2rem;
    // }
    a.iua-link{
        font-size: 2rem;
        color: $color-secondary;
        margin: 0;
        display: block;
    }

    &-misc{
        display: flex;
        align-items: center;
    }

    &-time{
        font-size: $default-font-size;
        display: inline-block;
        margin-right: 1rem;
    }
}