.img{


    &-circle{
        // clip-path: circle(50% at 50% 50%);
        border-radius: 50%;
        text-align: center;
        overflow: hidden;

        &--lg{
            width: 4rem;
            height: 4rem;
        }
        &--sm{
            width: 3.8rem;
            height: 3.8rem;
        }
        &--profile{
            width: auto;
            height: 20rem;
            
            @include respond(tab){
                
                width: auto;
                height: 16rem;
            }
        }
    }

    &-avatar{
        width: auto;
        height: 100%;
        
    }
}