.news-card{
    // height: 40rem;
    background: $color-white;
    // box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;

    &:not(:last-child){
        margin-bottom: 3rem;
    }


    &-header{
        padding: 1rem;
    }

    &-media{
        width: 100%;
        // max-height: 35rem;
        text-align: center;
        background-color: $color-lighter-grey;
    }

    &-img{
        width: 100%;
        // max-height: 35rem;
        // height: 100%;
    }

    &-text{
        padding: 2rem;
        font-size: $default-font-size;
        color: $color-secondary;
    }

    &-footer{
        padding: 1rem 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &-action{
        display: inline-flex;
        align-items: center;
        margin-right: 2rem;
        cursor: pointer;
        
        .material-icons{
            display: inline-block;
            font-size: 3.2rem;
            margin-right: .5rem;
        }

    }
    &-action.comment .material-icons{
        color: $color-primary;
    }

    &-action.like .material-icons{
        transition: all .3s;
        &:hover{
            transform: scale(1.2);
        }
    }
    &-action.like .material-icons.liked{
        color: $color-liked;
    }

    &-btn{
        padding: .5rem 2rem;
        background-color: $color-primary;
        color: $color-white !important;
        border-radius: 5px;
        line-height: 1.5;
    }
    .more{
        display: none;
    }
}