.news-card{
    // height: 40rem;
    background: $color-white;
    // box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.2);
    border: 1px solid rgba($color-black, .1);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;

    &:not(:last-child){
        margin-bottom: 3rem;
    }


    &-header{
        padding: 1rem;
    }

    &-media{
        max-width: 100%;
        // max-height: 35rem;
        text-align: center;
        background-color: $color-lighter-grey;
    }

    &-img{
        max-width: 100%;
        // max-height: 35rem;
        // height: 100%;
    }


    &-text{
        padding: 2rem;
        font-size: $default-font-size;
        color: $color-secondary;
    }

    &-footer{
        padding: 1rem 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &-action{
        display: inline-flex;
        align-items: center;
        margin-right: 2rem;
        cursor: pointer;

        .material-icons{
            display: inline-block;
            font-size: 3.2rem;
            margin-right: .5rem;
        }

    }
    // &-action.comment .material-icons{
    //     color: $color-primary;
    // }

    &-action.like .material-icons{
        transition: all .3s;
        &:hover{
            transform: scale(1.2);
        }
    }
    &-action.like .material-icons.liked{
        color: $color-liked;
    }

    &-btn{
        padding: .5rem 2rem;
        background-color: $color-primary;
        color: $color-white !important;
        border-radius: 5px;
        line-height: 1.5;

        
    }


    &-dropdown{
        position: relative;

        .dropdown-toggle{
            cursor: pointer;
        }

        .dropdown-menu{
            left: -100% !important;
            min-width: 14rem;
            
            @include respond(phone-land){
                left: -8rem !important;
            }
        }

        a.dropdown-item{
            color: $color-secondary;
            font-size: 1.8rem;
            padding-top: .6rem;
            padding-bottom: .6rem;


            .material-icons{
                font-size: 1.6rem;
            }
        }
    }

    &-share{
        cursor: pointer;
    }

    .more{
        display: none;
    }
}