@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translate(-50% ,20%);
    }

    100%{
        opacity: 1;
        transform: translate(-50% ,-20%);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes slideUp{
    0%{
        // opacity: 0;
        transform: translateY(20%);
        // height: 0;
    }

    100%{
        // opacity: 1;
        transform: translateY(0);

        // height: 35vh;
    }
}

@keyframes joggle{
    0%{
        transform: translate(-50%, -.8rem);
        
    }

    30%{
        transform: translate( -50%, .8rem);
       

    
    }

    
    100%{
        transform: translate(-50%, -.8rem);
        // transform: translateX(-50%);

        
    }
}
// @keyframes pulseColor {
//     0%{
//         width: 22rem;
//         height: 22rem;
//         background-image: radial-gradient(rgba($color-primary, .4) 0%, rgba($color-primary, .4) 62%, rgba($color-primary, .2) 62%);
    
//     }
    
    
//     100%{
//         width: 22.2rem;
//         height: 22.2rem;
//         background-image: radial-gradient(rgba($color-primary, .5) 0%, rgba($color-primary, .5) 62%, rgba($color-primary, .3) 62%);

//     }
// }