*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 50%; // 1rem = 8px

    @include respond(phone-land){
        font-size: 56.25%; //1rem = 9px
    }
    @include respond(tab){
        font-size: 62.5%; // 1rem  = 10px
    }
   
   
}

body{
    box-sizing: border-box;
}