body{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $color-dark-grey;
    font-size: $default-font-size;
}

a{
    &,
    &:link,
    &:visited,
    &:active{

        color: $color-primary;
        text-decoration: none;
        font-size: $default-font-size;
    }

    &:hover{
        color: darken($color-primary, 10%);
    }


}

.heading-primary{
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;
    line-height: 1.2;
    padding: 1rem 2rem;

    @include respond(tab){
        font-size: 4rem
    }
    &--auth{
        color: $color-secondary;
        text-align: center;

        @include respond(desktop){
            color: $color-white;
        }
    }
}

.heading-secondary{
    font-size: 2rem;
    font-weight:500;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 1rem 2rem;
    color: $color-secondary;
}
.heading-tertiary{
    font-size: 1.8rem;
    font-weight:500;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 1rem 2rem;
    color: $color-secondary;
}