// TEXT
.text-primary{
    color: $color-primary !important;
}

.f-s-default{
    font-size: $default-font-size;
}






.line{
    height: 1px;
    width: 100%;
    display: inline-block;

    &-primary{
        background-color: $color-primary;
    }

    &-secondary{
        background-color: $color-secondary;
    }
}

.media-body--spaced{
    padding: 0 1.2rem;
}

.hashtag{
    font-weight: 700;

    &::before{
        content: '#';
    }
}

.disappear{
    position: absolute;
    top: -100rem;
    opacity: 0 !important;
    visibility: hidden !important;

}

.dropleft .dropdown-toggle::before,
.dropdown-toggle::after {
    display: none;
   
}

.mobile-view-only{

    display: block;

    @include respond(desktop){
        display: none;
    }

}

.justify-align-center{
    @include justifyAlignCenter;
}