.text-primary{
    color: $color-primary !important;
}
.line{
    height: 1px;
    width: 100%;
    display: inline-block;

    &-primary{
        background-color: $color-primary;
    }

    &-secondary{
        background-color: $color-secondary;
    }
}

.media-body--spaced{
    padding: 0 1.2rem;
}

.hashtag{
    font-weight: 700;

    &::before{
        content: '#';
    }
}