.explore{
    padding: 1rem;

    &-item{
        padding: .5rem;
        border-radius: 5px;
        box-shadow:  0 1rem 3rem rgba($color-black, .175);
        margin-bottom: 1rem;
        background-color: $color-white;
    }

    &-reaction{
        display: inline-flex;
       align-items: center;
    }

    &-options{
        // margin-bottom: 2.5rem;
        // padding: 2rem 1rem;

        .owl-stage-outer{
            padding: 1rem;
        }
    }

    &-pill{
        background-color: $color-white;
        border-radius: 10rem;
        height: 4rem;
        padding: 0 1rem;
        @include justifyAlignCenter;
        display: inline-flex;
        // box-shadow:  0 .5rem .5rem rgba($color-black, .2);        
        border: 1px solid rgba($color-black , .15);
    }
}

.masonry { /* Masonry container */
//   column-count: 4;
//   column-gap: 1em;
  display: flex;
  flex-flow: wrap;
  max-height: 800px;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
}

.masonry-item { /* Masonry bricks or child elements */
//   background-color: #eee;
  display: inline-block !important ;
  margin: 0 0 1em;
  width: 100%;
}

.grid-sizer{
    width: 33.3%;
}