.explore{
    padding: 1rem;

    &-item{
        padding: .5rem;
        border-radius: 5px;
        box-shadow:  0 1rem 3rem rgba($color-black, .175);
        margin-bottom: 1rem;
        background-color: $color-white;
    }

    &-reaction{
        display: inline-flex;
       align-items: center;
    }

    &-options{
        // margin-bottom: 2.5rem;
        // padding: 2rem 1rem;

        .owl-stage-outer{
            padding: 1rem;
        }
    }

    &-pill{
        background-color: $color-white;
        border-radius: 10rem;
        height: 4rem;
        padding: 0 1rem;
        @include justifyAlignCenter;
        display: inline-flex;
        // box-shadow:  0 .5rem .5rem rgba($color-black, .2);        
        border: 1px solid rgba($color-black , .15);
    }
}