.explore{
    padding: 1rem;

    &-item{
        padding: .5rem;
        border-radius: 5px;
        box-shadow:  0 1rem 3rem rgba($color-black, .175);
        margin-bottom: 1rem;
        background-color: $color-white;
    }

    &-reaction{
        display: inline-flex;
       align-items: center;
    }

    &-options{
        // margin-bottom: 2.5rem;
        // padding: 2rem 1rem;

        .owl-stage-outer{
            padding: 1rem;
        }
    }

    &-pill{
        background-color: $color-white;
        border-radius: 10rem;
        height: 4rem;
        padding: 0 1rem;
        @include justifyAlignCenter;
        display: inline-flex;
        // box-shadow:  0 .5rem .5rem rgba($color-black, .2);        
        border: 1px solid rgba($color-black , .15);
    }
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid-col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1rem;
}

/* 2 columns by default, hide columns 2 & 3 */
.grid-col--2, .grid-col--3 { display: none }

/* 3 columns at medium size */
@media ( min-width: 768px ) {
  .grid-col--2 { display: block; } /* show column 2 */
}

/* 4 columns at large size */
@media ( min-width: 1080px ) {
  .grid-col--3 { display: block; } /* show column 3 */
}