.main-content{
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 6rem;
    
    @include respond(desktop){
        margin-top: 0rem;
        margin-bottom: 0;
        padding: 2rem;
    }

    &--left{
        margin-right: 0;
        flex: 100%;
        @include respond(desktop){
            margin-right: 5rem;
            flex: 60% 0 0;
        }
    }

    &--right{
        display: none;

        @include respond(desktop){
            display: block;
            flex: calc(40% - 5rem) 0 0;
        }
    }

}