.notification{
    display: block;
    margin: 3rem 0 0;
    padding-bottom: 3rem;


    &-timeline{
        padding: 1.5rem;
    }
    &-date{
        font-size: 2rem;
        font-weight:300;
        text-transform: uppercase;
        line-height: 1.2;
        color: $color-secondary;
        margin-bottom: 1rem;
    }

    &-content{
        background-color: $color-white;
        padding: .5rem 1.5rem;
        box-shadow: 0 0 .5rem rgba($color-black , .1);
        
        a{
            color: $color-secondary;
        }
        
    }
    &-item{
        display: block;
        padding: 1rem 0;

        &:not(:last-child){
            border-bottom: 1px solid rgba($color-black , .1);
        }
    }

    &-type-icon{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 1px solid $color-primary;
        // background: rgba($color-black, .1);
        margin-right: 1rem;
        @include justifyAlignCenter;

        img{
            width: 2.5rem;
        }

    }

    &-text{
        font-weight: 500;
        margin-bottom: 0 !important; 
        line-height: 1.2;
    }
    &-time{
        font-size: 1rem;
    }
}