.page-extra{

    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    margin-top: 1rem;

    color: $color-secondary;


    &-section{
        margin: 2rem 0;
    }

    &-text{
        font-size: $default-font-size;
        line-height: 1.5;
        text-align: justify;
    }

    &-title{
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

}