.section-main{
    @include respond(tab){
        height: auto;
        border-radius: 0;
        background-color: $color-white;
        position: relative;
        bottom: 0;
        box-shadow: none;
        display: block;
        animation: none;
    }

    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    bottom: 0;
    // bottom: 2.4rem;
    padding: 2rem;
    border-radius: 3rem 3rem 0 0 ;
    background-color: $color-white;
    height: 40vh;
    box-shadow: 0 -1rem 1rem rgba(0, 0, 0, .1);
    animation: slideUp .5s ease-out ;
    z-index: 3;

    .main-caption{
        font-size: 1.9rem;
        text-align: center;
        padding: 1rem;
        font-weight: 400;

    }
    .main-cta{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    
        @include respond(desktop){
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 1rem 0;
        }
    
        &--btn{
          width: 28rem;
          font-size: 1.8rem;
          display: flex;
          justify-content: space-between;
    
          &:not(:last-child){
              margin-bottom: 2.5rem;

              @include respond(desktop){
                margin-bottom: 0;
                margin-right: 2rem;
            }
          }
        }
    }

//     .main-btn-shrink{
//        @include respond(tab){
//            display: none;
//        }
//        position: absolute;
//        bottom: 0;
//        left: 50%;
//        transform: translateX(-50%);
//        background: transparent;
//        border: 1px solid $color-primary;
//        border-radius: 50%;
//        width: 5rem;
//        height: 5rem;
//        backface-visibility: hidden;
//        color: $color-primary;
//        z-index: 4;
//        animation: joggle 1.5s ease .5s  infinite ;
//         cursor: pointer;
//    }

}

.section-auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include respond(desktop){
        justify-content: flex-end;
        height: 100vh;
        background-image: linear-gradient(to bottom,
                                           $color-primary 0%,
                                           $color-primary 50%,
                                            $color-white 50% );
        padding-bottom: 3rem;
    }
}

.blur-bg{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../img/dev.jpg);
    // background-color: rgba($color-black, .2);
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: .5;
    filter: blur(1rem);
}