.profile{
    width: 100%;

    // INFO SIDE
    &-info{
        background-color: $color-white;
        height: 70vh;
        width: 100%;
        padding: 2rem;
        display: flex;
        justify-content: center;
    }

    &-img{
        width: 20rem;
        height: 20rem;
        clip-path: circle(50% at 50% 50%);
        background-image: radial-gradient(rgba($color-primary, .4) 0%, rgba($color-primary, .4) 62%, rgba($color-primary, .2) 62%);
        @include justifyAlignCenter;

        @include respond(tab){
            width: 18rem;
            height: 18rem;
            background-image: radial-gradient(rgba($color-primary, .3) 0%, rgba($color-primary, .3) 60%, rgba($color-primary, .1) 60%);

        }
    }

    // POST SIDE
    &-post{

    }

}