.profile{
    width: 100%;

    // INFO SIDE
    &-info{
        background-color: $color-white;
        min-height: 70vh;
        width: 100%;
        padding: 2rem;
    }
    
    &-category{
        display: flex;
        justify-content: center;
        flex-direction: column; 
        align-items: center;
        &:not(:last-child){
            margin-bottom: 1.5rem;
        }
    }
    &-activity{
        @include justifyCenter;
        color: $color-primary;
        font-weight: 700;

        &-item{
            
            &:not(:last-child){
              margin-right: 2rem;
            }
         
            
        }
    }
    &-img{
        @include justifyAlignCenter;
        width: 22rem;
        height: 22rem;
        clip-path: circle(50% at 50% 50%);
        background-image: radial-gradient(rgba($color-primary, .4) 0%, rgba($color-primary, .4) 62%, rgba($color-primary, .2) 62%);
        margin-bottom: 2rem;


        @include respond(tab){
            width: 18rem;
            height: 18rem;
            background-image: radial-gradient(rgba($color-primary, .3) 0%, rgba($color-primary, .3) 60%, rgba($color-primary, .1) 60%);

        }
    }


    &-name{
        font-weight: 700;
        font-size: 2rem;
        color: $color-black;
    }

    &-edu{
        font-size: 1.4rem;
        color: $color-black;

    }

    &-description{
        font-size: 1.4rem;
        position: relative;
        margin: .5rem 0;

    }
   


    // POST SIDE
    &-post{
        background-color: $color-white;
        width: 100%;
        min-height: auto;
        padding: 2rem 0;

        border-top: 1px solid rgba($color-black, .2);
        
        @include respond(desktop){    
            padding: 2rem;
            min-height: 70vh;
            border-top: none;
        }
    }

}