.profile{
    width: 100%;
    position: relative;

    // INFO SIDE
    &-info{
        background-color: $color-white;
        min-height: 70vh;
        width: 100%;
        padding: 2rem;
    }
    
    &-img-set,
    &-info-set{
        background-color: $color-white;
        width: 100%;
        padding: 2rem;
    }
   
    
    &-category{
        display: flex;
        justify-content: center;
        flex-direction: column; 
        align-items: center;
        &:not(:last-child){
            margin-bottom: 1.5rem;
        }
    }
    &-activity{
        @include justifyCenter;
        color: $color-primary;
        font-weight: 700;

        &-item{
            
            &:not(:last-child){
              margin-right: 2rem;
            }
         
            
        }
    }
    &-img{
        @include justifyAlignCenter;
        width: 22rem;
        height: 22rem;
        border-radius: 50%;
        border: 2px dashed $color-primary;
        
        // clip-path: circle(50% at 50% 50%);
        // background-image: radial-gradient(rgba($color-primary, .4) 0%, rgba($color-primary, .4) 62%, rgba($color-primary, .2) 62%);
        margin-bottom: 2rem;
        background-color: $color-white;
        // animation: pulseColor .2s ease-in-out  infinite  ;


        @include respond(tab){
            width: 18rem;
            height: 18rem;
            // background-image: radial-gradient(rgba($color-primary, .3) 0%, rgba($color-primary, .3) 60%, rgba($color-primary, .1) 60%);

        }

        &-bind{
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            
            @include respond(tab){
                
                width: 16rem;
                height: 16rem;
            }
        }
    }

    
    &-name{
        font-weight: 700;
        font-size: 2rem;
        color: $color-black;
    }

    &-edu{
        font-size: 1.4rem;
        color: $color-black;

    }

    &-description{
        font-size: 1.4rem;
        position: relative;
        margin: .5rem 0;

    }

    &-setting-toggle{
        @include justifyAlignCenter;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: $color-white;

        .material-icons{

            font-size: 3rem;
        }
    }
   
    &-setting-list{
        flex-direction: column !important;

        li.nav-item{
            padding: 1rem ;
            margin-right: 0 ;
            position: relative;
            background-image: url(../img/keyboard-arrow-right.svg);
            background-repeat: no-repeat;
            background-position: 100% 50%;
            
            &:not(:last-child){
                border-bottom: 1px solid rgba($color-black , .15);
            }

            // &::after{
            //     content: '>';
            //     font-size: 1.6rem;
            //     font-weight: 700;
            //     position: absolute;
            //     top: 50%;
            //     right: 0;
            //     transform: translateY(-50%);
            // }
        }
    }


    // POST SIDE
    &-post{
        background-color: $color-white;
        width: 100%;
        min-height: auto;
        padding: 2rem 0;

        border-top: 1px solid rgba($color-black, .2);
        
        @include respond(desktop){    
            padding: 2rem;
            min-height: 70vh;
            border-top: none;
        }
    }

}

// SETTING MODAL CUSTOMIZATION


    div#settingsModal{

        .modal-dialog{
            position: absolute;
            max-width: 100%;
            width: 100%;
            margin: 0;
            bottom: 0;
        
            @include respond(tab){
                position: relative;
                width: auto;
                margin: .3rem;
                border-radius: .3rem;

                
            }

         }

         .modal-content{
             border-radius: 2rem 2rem 0 0;
             @include respond(tab){
               
                border-radius: .3rem;

                
            }
         }
    }