.tv{
    position: relative;
    margin-top: 1rem;

    &-filter{

    }

    &-content{
        margin-top: 2rem;

        @include respond(tab){
            margin-top: 0;
        }
    }

    &-thumbnail{

        width: 100%;
        position: relative;
        display: flex;
        margin-bottom: 1rem;
        max-height: 22rem;
        height: 22rem;
        overflow: hidden;
        background-color: $color-black;
        transition: all .3s;
        
        // &:not(:last-child){
        //     margin-bottom: 1rem;
        // }

        &--secondary{
            max-height: 12rem;
            
            @include respond(desktop){
                max-height: 16rem;

            }

        }

        &--tertiary{
            max-height: 12rem;

            .material-icons{
                font-size: $default-font-size;
            }
        }
    
        &-image{
            width: 100%;
            align-self: center;
            transition: all 1s;

        }

        &:hover &-image{
            transform: scale(1.1);
           
        }
    
    }

    &-caption{
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba($color-black, .7), rgba($color-black, 0));
        height: 25%;
        width: 100%;
        padding: 1rem;
        font-size: $default-font-size;
        color: $color-white;
        text-transform: uppercase;

        &--full{
            position: relative;
            height: auto;
            width: auto;
            background: transparent;
            color: $color-secondary;
            font-size: 1.8rem;
            font-weight: 500;
        }
    }

    &-video-detail{
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, rgba($color-black, .7), rgba($color-black, 0));
        height: 25%;
        width: 100%;
        padding: 1rem;
        font-size: $default-font-size;
        color: $color-white;
        display: flex;
        align-items: flex-end;

        &-holder{
            display: flex;
            justify-content: space-between;
           
            width: 100%;
        }
        &-item{
            display: inline-flex;
            align-items: center;
            font-size: 1.4rem;

            @include respond(tab){
                font-size: 1.2rem;
            }

            &:not(:last-child){
                margin-right: .5rem;
            }
        }

        &-category{
            display: inline-block;
            border-radius: 5px;
            padding: 2px .5rem;
            background-color: $color-white;
            color: $color-primary;
            font-size: 1rem;
            height: 2.6rem;

        }
    }


    &-video{
        &-view{
            width: 100%;
            padding: 0;
            background-color: $color-white;
            position: relative;
        }

        &-action{
            border-top: 1px solid rgba($color-black, .1);
        }

        &-player{
            width: 100%;

            video{
                max-width: 100%;
            }
        }

        &-slider{
            padding: .5rem;
            position: relative;

            // &::before{
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     z-index: 4;
            //     height: 100%;
            //     width: 4.5rem;
            //     background: linear-gradient(to right, rgba($color-white, 1) 30% , rgba($color-white, .8) 70%, rgba($color-white, .0));

            // }
        }


        &-related{
            background: $color-white;
            &--mobile{
                margin: 2.5rem 0;
                transform: scale(1.07);
                box-shadow: 0 0 3rem rgba(0,0,0,.3)!important;
            }
            
        }
    }

  

    &-option-dropdown{
        position: relative;

        .dropdown-toggle{
            cursor: pointer;
        }

        .dropdown-menu{
            left: -6rem !important;
            min-width: 14rem;
            @include respond(phone-land){
                left: -8rem !important;
            }
        }

        a.dropdown-item{
            color: $color-secondary;
            font-size: 1.8rem;
            padding-top: .6rem;
            padding-bottom: .6rem;


            .material-icons{
                font-size: 1.6rem;
            }
        }
    }

}