.header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba($color-primary, .92), rgba($color-primary, .92)),
                      url(../img/ctland.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;




    &-logo-box{
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    &-logo-img{
        height: 5rem;

        &--lg{
            height: 7rem;
        }
    }

    &-text-box{
        display: block;
        position: absolute;
        bottom: 20%;
        left: 50%;
        width: 70%;
        text-align: center;
        transform: translate(-50% ,-20%);
        animation: moveInBottom .5s ease-out;


        &--text{
            display: inline;
            position: relative;
            font-size: 4.2rem;
            text-align: center;
            font-weight: 300;
            line-height: 1.2;
            color: $color-white;
           
            
            @include respond(tab){
                font-size: 4.8rem;
                font-weight: 100;
            }
    }

        &--line{
            display: inline-block;
            position: absolute;
            width: 7rem;
            height: 1px;
            background-color: $color-white;
            @include respond(phone-land){
                 width: 10rem;
            }
            @include respond(tab){
                 width: 14rem;
            }

            &-ll{
                top: 50%;
                right: 100%;
            }
            &-lr{
                top: 50%;
                left: 110%;
            }

            &-lt{
                width: 5rem;
                transform: rotate(90deg) translateX(-50%);
                transform-origin: left;
                left: 50%;
                top: -50%;
                 @include respond(phone-land){
                    width: 7rem;
                }
               
            }
            &-lb{
                width: 5rem;
                transform: rotate(90deg) translateX(-50%);
                transform-origin: left;
                left: 50%;
                bottom: -50%;
                 @include respond(phone-land){
                    width: 7rem;
                }
               
            }
        }
    }

   


}