.nav{
    display: flex;

    &-auth{
        padding: 2rem;
        
        // @include respond(tab){
        //     display: none;
        //     padding: 0;
        // }
        @include respond(desktop){
            display: none;
            padding: 0;
        }
    }


    &-icon{
        &,
        &:link,
        &:visited,
        &:active{
            font-size: 3rem;
        }
    }


}