.nav{
    display: flex;

    //  Navigation for authentication page
    // ( Login / signup)

    &-auth{
        padding: 2rem;
        
        // @include respond(tab){
        //     display: none;
        //     padding: 0;
        // }
        @include respond(desktop){
            display: none;
            padding: 0;
        }
    }

    &-sub{
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $color-white/*  */;
        // background-color: rgba($color-black, .5);
        padding: 1rem 2rem;
        z-index: 5;

        @include respond(desktop){
            display: none;
        }

        a{
            color: $color-primary;
            // color: $color-white;
        }
    }

    &-brand{
        height: 4rem;

        @include respond(desktop){
            margin-right: 4rem;
        }
    }

    &-logo{
        height: 4rem;
    }

    // Pc views navigation container 

    &-bar{
        @include respond(desktop){

            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 4;
            background-color: $color-white;
            height: $nav-height;
            box-shadow: 0 2px .5rem rgba($color-black, .1);
        }

    }


    &-container{
        @include respond(desktop){
            display: flex;
            justify-content: space-around;
        }
    }

    &-main{
        height: $nav-height;
        background-color: $color-white;
        padding: 0 2rem;
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 4;

        @include respond(desktop){
            
            position: relative;
            justify-content: flex-start;
        }

        &--top{
            top: 0;
            left: 0;
            box-shadow: 0 2px .5rem rgba($color-black, .1);
            @include respond(desktop){
                box-shadow: none;
            }
        }
        
        &--bottom{
            bottom: 0;
            left: 0;
            box-shadow: 0 -2px .5rem rgba($color-black, .1);
            @include respond(desktop){
                box-shadow: none;
                flex: 30% 0 0;
            }
        }
    }

    &-menu{
        list-style-type: none;
        margin-bottom: 0;

        &--bottom{
            display: flex;
            justify-content: space-around;
            width: 100%;
            
            @include respond(desktop){
                justify-content: space-between;
            }
        }
    }

    &-item{
        display: inline;
        &:not(:last-child){
            margin-right: 2rem;
        }
        
        a{
            font-size: 2rem;
            color: $color-dark-grey;
            transition: all .3s;
            @include respond(desktop){
                
                .material-icons:hover{
                    transform: scale(1.5);
                }
            }
        }

        &.active{
            a{
                color: $color-primary;
               
            }

        }
    }

    &-icon{
        &,
        &:link,
        &:visited,
        &:active{
            font-size: 3rem;
        }
    }

    .material-icons{
        line-height: 1.5; 
        font-size: 3rem;
        transition: all .2s;
        backface-visibility: hidden;
        
        @include respond(tab){
            
            font-size: 2.5rem;
        }
    }

}